# folders
.DS_Store/
.github/
.husky/
.storybook/
.vscode/
examples/
node_modules/
public/
src/
stories/
storybook-static/

# files
.babelrc
.eslintignore
.eslintrc
.prettierignore
.prettierrc
jest.config.ts
commitlint.config.js
tsconfig.json
yarn-error.log
yarn.lock
